body{
    margin-top:100px;
}

a{
    text-decoration: none;
    color: #006622;
}

a:hover{
    text-decoration: underline;
    color: #006622;
}

.account{
    margin-top: 50px;
    font-size: 16px;
    display: inline-block;

}

.main{
    margin-left: 0px;
    width: 100%;
    padding: 0 3%;
}

.sidebar {
    display: block;
    padding-bottom: 80px;
    margin: 0 0 0 3%;
}

#my_info h1{
    float: left;
    color: #555;
}

#logout{
    float: right;
    margin-top: 30px;
    padding: 0px;
    margin-right: 30px;
}


/*
 * Main content
 */


@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders, #badge-display{
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
    text-align: center;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.treeImg{
    width: 100%;
}

.badge_info img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.badge_info{
    margin-bottom: 20px;
    text-align: center;
    height: 280px;
}

.admin{
    display: inline-block;
    padding: 0 30px;
    width: 100%;
}



