body{
    margin-top:100px;
}

a{
    text-decoration: none;
    color: #006622;
}

a:hover{
    text-decoration: underline;
    color: #006622;
}

#update{
    margin-top: 50px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 50px;
}

#my_info h1{
    float: left;
    color: #555;
}

#logout{
    float: right;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0px;
    margin-right: 20px;

}

.main{
    margin-left: 0px;
    width: 100%;
    padding: 0 3%;
}

.main button{
    margin-right: 20px;
    width: 80px;
}

.sidebar {
    display: block;
    padding-bottom: 80px;
    margin: 0 0 0 3%;
}


/*
 * Main content
 */


@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
